<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Community Car Share</title>

	<!-- materialize link -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	{{!-- jQuery link --}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- bootstrap link -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<!-- fontisto link -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontisto@v3.0.4/css/fontisto/fontisto.min.css"></i>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="/assets/css/materialize.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<nav>
	<nav class="nav-extended">
		<div class="nav-wrapper center">
			<h3>Community Car Share</h3>
		</div>
	</nav>
</nav>

<neck>
	<div class="center-align mt-20 topLinks">
		<ul class="tabs center-align">
			<li class="tab topTabs"><a href="/">Home</a></li>
			<li class="tab topTabs"><a href="post">Post</a></li>
			<li class="tab topTabs"><a href="search">Search</a></li>
		</ul>
	</div>
</neck>

<body
	style="background-image: url(https://images.unsplash.com/photo-1502899576159-f224dc2349fa?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTI1fHxwYXR0ZXJuZWQlMjB3YWxscGFwZXJ8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60)">

	{{{ body }}}
	<script src="/assets/js/post.js"></script>
</body>


</html>


<footer class="bg-light text-center text-lg-start">
	<div class="container p-4">
		<div class="row">
			<div class="col-lg-3 col-md-12 mb-4 mb-md-0">
				<h5 class="text-uppercase"></h5>
				<p>
					{{!-- Lorem ipsum --}}
				</p>
			</div>
			<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase text-center">Community Car Share</h5>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase mb-0"></h5>

				<ul class="list-unstyled">
					<li>
						<a href="#!" class="text-dark"></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2020 Copyright: <i class="fi fi-eye"></i>
		<a class="text-dark" href="https://mdbootstrap.com/">Group 6 DU Bootcamp</a><i class="fi fi-nodejs"></i>
	</div>
</footer>