<br>
<br>
<br>
<div class="container">
  <h2>Welcome to the Community Car Share</h2>

  <h3>Use the tabs above to either add your car to the car share database and start amking money or search for a car to
    use. </h3>
  <button id="postbtn" type="button" class="btn btn-danger">POST</button>
  <button id="searchbtn" type="button" class="btn btn-warning">SEARCH</button>
</div>