{{!-- <ul>
  {{#each burgers}}
  {{#unless eaten}}
  {{> burgers/burger-block eaten=true}}
  {{/unless}}
  {{/each}}
</ul> --}}
<div class="row">
  {{!-- <div class="col s12">This div is 12-columns wide on all screen sizes</div> --}}
  <div class="col s6">
    <ul>
      {{#each burgers}}
      {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col s6 consumed">
    <ul>
      {{#each burgers}}
      {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


{{!-- <ul>
  {{#each burgers}}
  {{#if eaten}}
  {{> burgers/burger-block eaten=false}}
  {{/if}}
  {{/each}}
</ul> --}}

<h3>Upload your vehicle for Community Car Share</h3>
<div class="container">

</div>