{{!-- <ul>
  {{#each burgers}}
  {{#unless eaten}}
  {{> burgers/burger-block eaten=true}}
  {{/unless}}
  {{/each}}
</ul> --}}
<div class="row">
  {{!-- <div class="col s12">This div is 12-columns wide on all screen sizes</div> --}}
  <div class="col s6">
    <ul>
      {{#each burgers}}
      {{#unless eaten}}
      {{> burgers/burger-block eaten=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="col s6 consumed">
    <ul>
      {{#each burgers}}
      {{#if eaten}}
      {{> burgers/burger-block eaten=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


{{!-- <ul>
  {{#each burgers}}
  {{#if eaten}}
  {{> burgers/burger-block eaten=false}}
  {{/if}}
  {{/each}}
</ul> --}}

<br>
<br>
<div class="container">
  <h3>Search for a vehicle on Community Car Share</h3>
  <div class="container">
    <select class="form-select" aria-label="Default select example">
      <option selected>What Type of Vehicle?</option>
      <option value="1">Car</option>
      <option value="2">Truck</option>
      <option value="3">Van</option>
    </select>
  </div>
  <br>
  <div class="mb-3">
    <label for="make" class="form-label">Make</label>
    <input type="text" class="form-control" id="makeupdate" placeholder="Make of vehicle">
  </div>
  <button type="button" class="btn btn-success">SEARCH MAKE</button>
  <br>
  <div class="mb-3">
    <label for="model" class="form-label">Model</label>
    <input type="text" class="form-control" id="modelupdate" placeholder="Model of vehicle">
  </div>
  <button type="button" class="btn btn-success">SEARCH MODEL</button>
  <br>
  <div class="mb-3">
    <label for="year" class="form-label">Year</label>
    <input type="text" class="form-control" id="yearupdate" placeholder="Year of vehicle">
  </div>
  <button type="button" class="btn btn-success">SEARCH YEAR</button>
  <br>
  <div class="mb-3">
    <label for="color" class="form-label">Color</label>
    <input type="text" class="form-control" id="colorupdate" placeholder="Color of vehicle">
  </div>
  <button type="button" class="btn btn-success">SEARCH COLOR</button>
  <br>
  <div class="mb-3">
    <label for="price" class="form-label">Price</label>
    <input type="text" class="form-control" id="priceupdate" placeholder="Price to rent your car">
  </div>
  <button type="button" class="btn btn-success">SEARCH PRICE</button>
</div>

<button>

</button>