* {
  /* ↓ Now literally all elements display a sans-serif font */
  font-family: sans-serif !important;
  font-style: oblique;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.center-align {
  background-color: #004d40 !important;
}

.nav-wrapper {
  background-color: #004d40 !important;
}
body {
  background-color: #e3f2fd;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.radio {
  display: none;
}

h3 {
  text-align: center;
}

#navb {
  background-color: #fed16e;
  z-index: 0 !important;
  z-index: 0;
}

.consumed ul li button {
  display: none;
}

.test {
  text-align: center;
}

.card-image {
  object-fit: scale-down !important;
  object-fit: fill !important;
}
img {
  object-fit: scale-down !important;
  object-fit: fill !important;
}

.welcome {
  font-size: medium !important;
}
