html * {
  /* ↓ Now literally all elements display a sans-serif font */
  font-family: "Times New Roman", Times, serif !important;
  font-style: oblique;
  background-color: black;
}

body {
  font-family: "Times New Roman", Times, serif !important;
  background-image: url("https://images.unsplash.com/photo-1532264523420-881a47db012d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjZ8fHBhdHRlcm5lZCUyMHdhbGxwYXBlcnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60") !important;
}

body img {
  max-width: 100%;
  max-height: 100%;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.center-align {
  background-color: #004d40 !important;
}

.nav-wrapper {
  background-color: #004d40 !important;
  font-family: "Times New Roman", Times, serif !important;
}
body {
  background-color: #e3f2fd;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.radio {
  display: none;
}

h3 {
  text-align: center;
}

#navb {
  background-color: #fed16e;
  z-index: 0 !important;
  z-index: 0;
}

.consumed ul li button {
  display: none;
}

.test {
  text-align: center;
}

.card-image {
  object-fit: scale-down !important;
  object-fit: fill !important;
}
img {
  object-fit: scale-down !important;
  object-fit: fill !important;
}

.welcome {
  font-size: medium !important;
}

.circle {
  height: 250px !important;
  width: 200px !important;
}

#carMoneyImg {
  height: 250px !important;
  width: 500px !important;
}

.carTruckVan {
  height: 250px !important;
  width: 500px !important;
}

.card {
  text-align: center;
}
